<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meme Me 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70EBDB491DA2DE000084AD74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EBDB5D1DA2DE000084AD74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EBDB681DA2DE000084AD74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
